* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Inter;

}

/* navbar */

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  36.001px 25.819px 34.623px 26px;
}

nav > ul {
  list-style: none ;
  display: flex;
  gap: 2rem;
}

nav > h2 {
  cursor: pointer;
  font-weight: 900;
}

nav > ul > li > a {
  text-decoration: none;
  color: #4D4D4D;
}

/* bodyContent/mainContent */

main {
  background-image: url("/mountain.png");
  color: #fff;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

main > h1 {
  margin-top: 4rem;
}

.line1 {
  margin-bottom: 0;

}
.line2 {
  margin-top: 0;
  margin-bottom: 4rem;
  
}
 
main > div {
  background-color: #FF8C38;
  color: #fff;
  border-radius: 5px;
  border-style: none;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 4rem;
  font-size: 15.946px;
  
}

/* footer */

footer {
  
  background-color:  #252525;
  color: #AAA;
  display: flex;
  align-items: center ;
  justify-content: center;
  font-size: 14px;
  height: 35.5vh;
}

/* About */

.about {
  display: flex;
  flex-direction: column;
}

.about_description {
  padding: 1rem 1.5rem 2.5rem 1.5rem;
}

.about_description_p2 {
  margin-bottom: 4rem;
}
.about_description_p1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about_box {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: #FFCC8D;
  border-radius: 5px;

}

.about_box_button {

  display: inline-flex;
  padding: 12px 22px 13px 22px;
  color: #fff;
  background-color: #161616;
  border-radius: 10px;
  width: 12rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.about_box_line1 {
  margin: 0;
}
.about_box_line2 {
  margin-top: .5px;
  margin-bottom: 2rem
}


/* VanList */

.VanGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.VanGrid > a {
  text-decoration: none;
  color: #161616;
}

.card {
  width: 14rem;
}

.cardImage {
  width: 14rem;
  border-radius: 5px;
}

.cardDetails {
  display: flex;
  justify-content: space-between;
  margin-top: .8rem
}

/* VanDetails */

.vanDetails {
  display: flex;
  flex-direction: column;
}

.vanDetails_container {
  padding: 5%;
}

.vanDetails_img {
  border-radius: 5px;
  margin-block: 47px;
}

.vanDetails_name {
  margin-top: 1rem;

}

.vanDetails_price {
  display: flex;
  margin-top: 1rem;
}

.vanDetails_description {
  margin-top: 1rem;
}

.vanDetails_button {
  margin-top: 1.5rem;
  background-color: #FF8C38;
  color:#fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem ;
  font-weight: 700;
  cursor: pointer;
}

.vanDetails_back {
  text-decoration: none;
  color: black;
}

.vanDetails_back:hover {
  text-decoration: underline;
  color: black;
}